
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
body {
  height: 100%;
}

.twitter-bg {
  background: url('twitter-bg.png');
  height: 100vh;
}

.header {
  margin-left: 2.5vw;
  float: right;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 2.5em;
}

.secondary {
  color: #565656;
}

.disclaimer {
  font-family: 'Inter', sans-serif;
}

#logo {
  font-size: 10em;
  color: white;
}
#stack {
  color: #272727;
}
/* Google Sign-in Button
https://codepen.io/tijmenennik/pen/bwYaox */

.google-btn {
    margin: 25px, 25px, 25px, 0px;
    width: 80%;
    min-width: 184px;
    max-width: 184px;
    height: 42px;
    background-color: #fcfcfc;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    cursor: hand;
    align-self: center;
    user-select: none;
    transition: all 400ms ease 0s;
    display: flex;
}
.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    user-select: none
}
.google-btn .google-icon-svg {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
    user-select: none
}
.google-btn .btn-text {
    float: right;
    margin: 11px 14px 40px 40px;
    color: #757575;
    font-size: 14px;
    letter-spacing: .2px;
    font-family: Roboto;
    user-select: none;
    font-weight: 400;
}
.google-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    user-select: none
}
.google-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
}
