@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&display=swap');


/** Global **/
body {
  height: 100%;
}

h1 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 2.5em;
}

h2 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.5em;
  margin: 0;
}

p {
  font-family: 'Inter';
  font-weight: 400;
}


.secondary {
  color: #9B9B9B;
}

/** Main **/
.main {
  margin-top: 5vh;

}


/** Sidebar **/
#logo {
  color: #1DA1F2;
  font-size: 2.5em;
}
.sidebar {
  margin-top: 5vh;
  margin-left: 3.5vw;
}

.sidebar i {
  padding-bottom: 5vh;
  font-size: 2em;
  height: 35px;
  width: 35px;
}

.sidebar h2 {
  margin-left: 1.5vw;
}

.sidebar-item {
  padding-top: 5vh;
}

/* Create Tweet */

.create-tweet {
  margin-top: 2.5vh;
  border-bottom: 10px solid #F5F5F5;
  width: 90%;
  padding-bottom: 2.5vh;
}

form {
  margin: 0;
}
.avatar {
  border-radius: 50px;
  height: 51px;
  position: relative;
}

.tweet-box {
  font-family: 'Inter';
  font-weight: 300;
  font-size: 1.5em;
  border: none;
  outline: none;
  width: 100%;
  margin-left: 2vw;

}
.tweet-box input[type="text"] {
  border: none;
  font-family: 'Inter';
  font-weight: 300;
  width: 100%;
  background: transparent;
}

.tweet-button {
  background: #1DA1F2;
  border-radius: 25px;
  color: white;
  border: none;
  width: 101px;
  height: 31px;
  font-family: 'Poppins';
  font-weight: 500;
  margin-right: 0.5vw;
}

.tweet-button:hover {
  background: #90D5FF;
}
input:focus {
  outline: none;
}

/** Feed **/
.feed {
  margin-top: 2.5vh;
}
/* Tweet */
.tweet {
  width: 90%;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  border-bottom: 1px solid #C4C4C4;
}
.tweet-user {
  font-family: 'Inter';
  font-weight: 500;
}
.tweet-body {
  font-family: 'Inter';
  font-weight: 300;
  margin-left: 2vw;
}

.tweet-msg {
  min-width: 100%;
}
.tweet-icons {
  padding-right: 0.25em;
}
.tweet-icons a {
  color: black;
}

.tweet-icons a:hover {
  color: #90D5FF;
}

.count {
  margin-left: 0.5vw;
  font-family: 'Poppins';
  font-weight: 300;
  margin-right: 0.5em;
}

#like:hover {
  color: #ed3434;

}

#retweet:hover {
  color: #34ed68;

}

#comment:hover {
  color: #34eaed;

}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .create-tweet {
    width: 100%;
  }
  .tweet {
    width: 100%;
  }
  .tweet-box {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

}
